<?xml version="1.0"?>
<!--
/**
 * Copyright 2022 Adobe, Inc. All rights reserved.
 * See LICENSE for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magentoese>
            <datainstall>
                <!-- <app_url>https://localhost:9080/index.8959c3ac.js</app_url>
                <css_url>https://localhost:9080/index.f37f2f72.css</css_url> -->
                <app_url>https://285361-datainstaller-stage.adobeio-static.net/index.6040a44f.js</app_url>
                <css_url>https://285361-datainstaller-stage.adobeio-static.net/index.7359d5a1.css</css_url>
            </datainstall>
        </magentoese>
    </default>
</config>