<?xml version="1.0"?>
<!--
/**
 * Copyright © Adobe, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MagentoEse\DataInstall\Api\Data\InstallerInterface" type="MagentoEse\DataInstall\Model\Installer" />
    <preference for="MagentoEse\DataInstall\Api\InstallerRepositoryInterface" type="MagentoEse\DataInstall\Model\InstallerRepository" />
    <preference for="MagentoEse\DataInstall\Api\Data\LoggerInterface" type="MagentoEse\DataInstall\Model\Logger" />
    <preference for="MagentoEse\DataInstall\Api\LoggerRepositoryInterface" type="MagentoEse\DataInstall\Model\LoggerRepository" />
    
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="magentoEseDataInstall" xsi:type="object">MagentoEse\DataInstall\Console\Command\Install</item>
            </argument>
        </arguments>
    </type>

    <type name="MagentoEse\DataInstall\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="MagentoEse\DataInstall\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">DataInstall</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">MagentoEse\DataInstall\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <!-- Plugin for webhook -->
    <type name="Mageplaza\Webhook\Model\Config\Source\HookType">
          <plugin name="MagentoEse_DataInstall_Webhook_AddType" type="MagentoEse\DataInstall\Plugin\AddWebhookType" sortOrder="1" disabled="false" />
    </type>
</config>
