<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="magentoese_datainstall_install_start">
        <observer name="MagentoEse_DataInstall_Start_Observer" instance="MagentoEse\DataInstall\Observer\ProcessStart" />
    </event>
    <event name="magentoese_datainstall_install_finish">
        <observer name="MagentoEse_DataInstall_End_Observer" instance="MagentoEse\DataInstall\Observer\ProcessEnd" />
    </event>
</config>