<?xml version="1.0"?>
<!--
/**
 * Copyright 2022 Adobe, Inc. All rights reserved.
 * See LICENSE for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="magentoese_datainstall_install_start">
        <observer name="MagentoEse_DataInstall_Start_Observer" 
        instance="MagentoEse\DataInstall\Observer\ProcessStart" />
    </event>
    <event name="magentoese_datainstall_install_end">
        <observer name="MagentoEse_DataInstall_End_Observer" 
        instance="MagentoEse\DataInstall\Observer\ProcessEnd" />
    </event>
    <event name="magentoese_datainstall_job_start">
        <observer name="MagentoEse_DataInstall_Job_Start_Observer" 
        instance="MagentoEse\DataInstall\Observer\JobStart" />
    </event>
    <event name="magentoese_datainstall_job_end">
        <observer name="MagentoEse_DataInstall_Job_End_Observer" 
        instance="MagentoEse\DataInstall\Observer\JobEnd" />
    </event>
    <event name="magentoese_datainstall_job_error">
        <observer name="MagentoEse_DataInstall_Job_Error_Observer" 
        instance="MagentoEse\DataInstall\Observer\JobError" />
    </event>
</config>