<?xml version="1.0"?>
<!--
/**
 * Copyright 2022 Adobe, Inc. All rights reserved.
 * See LICENSE for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="MagentoEse_DataInstall">
        <sequence>
            <module name="Magento_Eav"/>
            <module name="Magento_Store"/>
            <module name="Magento_Authorization"/>
            <module name="Magento_User"/>
            <module name="Magento_PurchaseOrderRule"/>
            <module name="Magento_Company"/>
            <module name="Magento_Cms"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_Directory"/>
            <module name="Magento_Customer"/>
            <module name="Magento_Theme"/>
            <module name="Magento_Config"/>
            
            <module name="Magento_Banner"/>
            <module name="Magento_BannerCustomerSegment"/>
            <module name="Magento_CustomerSegment"/>
            <module name="Magento_Sales"/>
            <module name="Magento_Shipping"/>
            <module name="Magento_UrlRewrite"/>
            <module name="Magento_CmsUrlRewrite"/>
            <module name="Magento_RequisitionList"/>
            <module name="Magento_Review"/>
            <module name="Magento_SharedCatalog"/>
            <module name="Magento_Config"/>
            <module name="Magento_PageBuilder"/>
            <module name="Magento_TargetRule"/>
        </sequence>
    </module>
</config>
