<?xml version="1.0"?>
<!--
/**
 * Copyright 2022 Adobe, Inc. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MagentoEse_DataInstall::import_vertical" title="Import Data Pack" module="MagentoEse_DataInstall" 
        sortOrder="100" action="datainstall/import/upload" parent="Magento_Backend::system_convert" 
        resource="MagentoEse_DataInstall::import_vertical"/>
        <add id="MagentoEse_DataInstall::datainstallui"
             title="Data Install IU (Beta)"
             translate="title"
             module="MagentoEse_DataInstall"
             sortOrder="99"
             parent="Magento_Backend::system_convert"
             action="datainstallui/"
             resource="MagentoEse_DataInstall::datainstallui"
        />
        <add id="MagentoEse_DataInstall::aiproductgeneration"
             title="AI Product Generation"
             translate="title"
             module="MagentoEse_DataInstall"
             sortOrder="101"
             parent="Magento_Backend::system_convert"
             action="datainstall/aiimport/"
             resource="MagentoEse_DataInstall::datainstallui"
        />
    </menu>
</config>