<?xml version="1.0"?>
<!--
/**
 * Copyright 2022 Adobe, Inc. All rights reserved.
 * See LICENSE for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="system">
            <group id="data_installer_authorization" translate="label" type="text" sortOrder="1200" showInDefault="1" 
            showInWebsite="0" showInStore="0">
                <label>Data Installer Authorization</label>
                <field id="github_access_token" translate="label" type="obscure" sortOrder="20" showInDefault="1" 
                showInWebsite="0" showInStore="0">
                    <label>GitHub Access Token</label>
                    <config_path>magentoese/datainstall/github_access_token</config_path>
                    <comment><![CDATA[Add A GitHub Personal Access Token if you are retrieving a datapack from a 
                        GitHub repository]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>